@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F8F9FA;
    margin-left: 10%;
    margin-right: 10%;
}
@media only screen and (max-width: 1000px){
    body{
    margin-left: 5%;
    margin-right: 5%;
    }
}